.App {
  text-align: center;
  
}

.status-bar {
  display: flex;
  width: 100%;
  justify-content: flex-end; 
}

.status-items {
  line-height: 0;
  padding: 10px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #383141;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jarvis {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 8px rgba(255, 255, 255, 0.25) ;
}

.batteryIndicator {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.batteryValue {
  margin:0;
}

.actionButton {
  color: white;
  background-color: #25CEDF;
  height: 37px;
  width: 155px;
  border-radius: 35px / 35px;
}

.attributeRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.garbageRow {
  color: red;
}

.stuckRow {
  color: yellow;
}